/*
Author: Latoya Hayes
Date: Nov 23, 2023
File Name: css styles.css
*/

/*CSS Reset */
body, header, nav,main, footer, h1, div, img, ul figure, figcaption{
  margin: 0;
  padding: 0;
  border: 0;  
} 

/* Style rules for body and images*/
body {
    background-color: #fff;
}

img {
    max-width:100%;
    display: block;
}
 /* Style rule for box sizing applies to all elements */
 *{
    box-sizing: border-box;
 }
/*style rues for mobile viewport*/
aside{
    text-align:center;
    font-size: 1.5em;
    font-weight: bold;
    color: #551800;
    text-shadow: 3px 3px 10px #0700d1;
    grid-column: 1 /span 4;
}

/*style rule for header*/
header{
    width: 100vw;
}
.header_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -250%);
    color: #000;
    font-family: 'Playfair Display', serif;
}

header{
    width: 100vw;
    height: 50vh; 
    background-image: url("/images/background.jpg.jpg"); 
    background-repeat: no-repeat, no-repeat; 
    background-size: cover;
}
header h1 {
	font-family: 'Playfair Display', serif;
	font-size: 10em;
	text-align: center;
	padding-top: 150px
}

header h3 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 5em;
	text-align: center;
	padding-bottom: 150px;
}

/*style rules for hamburger menu*/
.mobile-nav a {
    color: #09a08c;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
    background-color: #fff;
    }

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #a3a3a3;
}

.mobile-nav li {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 3%;
    display: block;
    background-color: #a3a3a3;
}	

.row {
    position: relative;
    display: flex;
    height: 50%;
    width: 100%;
    margin: 0;
  }
  
  .column-text {
      width: 100%;
      object-fit: contain;
      float: right;
      text-shadow: none;
      grid-column: 0;
  }
  
  .column-image {
      width: 100%;
      height: 100%;
      float: left;
      margin: 0;
  }
  
  figure {
      position: relative;
      max-width: 275px;
      margin: 2% auto;
  }
  
  figcaption {
      position: absolute;
      bottom: 0;
      background: #f1786a;
      color: white;
      width: 100%;
      padding: 5% 0;
      text-align: center;
      font-family: 'Merriweather', serif;
      font-size: 1.5em;
  }
/*style rules for navigation area */


/*show mobile class, hide tablet-desktop class and menu-links id*/
.mobile {
    display:block;
}

.tablet-desktop, #menu-links{
    display:none;
}

/*style rules for main content*/
main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Playfair Display', serif;
}

.mobile h3 {
    text-shadow: 5px 5px 8px #ccc;
}


/* style rule for content*/
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
aside {
    grid-column:1 / span 2;
  }
  
  footer .copyright{
    width: 100vw; 
    text-align: center;
}

  .row-footer h1{
    text-align: center;
  }
  .copyright{
    width: 100vw;
    text-align: center;
  }
  #footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 400%;   /* Height of the footer */
  background: rgb(228, 228, 21);
  }
  .linkedin{
    width:2vw;
    text-align;
  }
  
  .facebook {
    width: 2vw;
    text-align;
  }
  .instagram{
    width:2vw;
    text-align;
  }

#destinations, #sight, #food {
    border-top: none;
    border-bottom: none;
    background:linear-gradient(to right, #ccc, #fff);
    background-color: #fff;
}

#about {
    clear: left;
    border-top: 1px none;
    border-bottom: none;
    background:linear-gradient(to right, #ccc, #fff);
    background-color: #fff;
}

/* Dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.frame{
    position: relative;
    max-width: 450px;
    margin: 2% auto;

    .pic-text {
        
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color:#1ecfe6;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
        font-weight: bold;
    }
}
.round {
    border-radius: 8px;
}
contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 8px solid #000;
  
    width: 75%;
    height: 50%;
}
#form {
    margin-top: 2%;
    background-color:#f2f2f2;
    padding: 2%;
}

#form h2 {
    text-align: center;  
}
/* Style rules for form elements */
fieldset, input, select, textarea { 
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 3%;
}
form #submit { 
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
}

 /* Tablet Viewport: Style rule for form element */ 
 form {
    width: 70%;
    margin: 0 auto;
 }

  /* Tablet Viewport: Animation */
  @-webkit-keyframes text-animation {
    0% { font-size: 1em; }
    50% { font-size: 2em; }
    100% { font-size: 1.35em; }
  }

    @keyframes text-animation {
        0% { font-size: 1em; }
        50% { font-size: 2em; }
        100% { font-size: 1.35em; }
    }
    figcaption { 
        -webkit-animation-name: text-animation;
        animation-name: text-animation;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
    }

/* Desktop Viewport: Style rules for form elements */ 
form {
    width: auto;
}
.form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.btn {
    grid-column: 1 / span 3;
}
/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {



/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
    display: block;
}

.mobile, .mobile-nav {
    display: none;
}

 /* Tablet Viewport: Style rule for header */ 
 header { 
    padding-bottom: 2%;
 }

  /* Tablet Viewport: Style rules for nav area */
  nav {
    padding: 1%;
    margin-bottom: 1%;
  }

  nav ul {
    list-style-type: none;
    text-align:center;
  }
  nav li {
    border-top: none;
    display: inline-block; 
    border-right: 1px solid #green;
  }

  nav li:last-child {
    border-right:none
  }

  nav li a { 
    padding: 0.1em 0.75em;
    display:block;
    color: #000;
    text-decoration: none;
  }

 /* Tablet Viewport: Style rules for main content area */
 main ul {
    margin: 0 0 4% 10%
 }

 .grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
 }
 
 .pic-text {
    font-size: 1em;
    padding: 10px;
 }
 }
 .tel-num {
    font-size: 1.2em;
 } 
 .map {
    width: 600px;
    height: 450px
 }
}

  /* Media Query for Desktop Viewport */ 
  @media screen and (min-width: 1015px) {

 

/* Desktop Viewport: Style rule for header */
header {
    width: 25%;
    float: left;
    padding-bottom: 0;
}

 /* Desktop Viewport: Style rules for nav area */
nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
    }

nav ul {
    text-align: right;
    }

nav li {
    border: none;
    }

nav li a { 
    padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #e71313;
        background-color: #1ecfe6;
        transform: scale(1.3)
    }

 /* Desktop Viewport: Style Rules for main content */
 main { 
    clear:left;
}

main h1 { 
    font-size: 1.8em;
}

.pic-text {
    font-size: 1.5em;
    padding:20px;
}

.frame{
    opacity: 0.9;
}

.frame:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
    transform: translateY(10px);
}

#weights, #cardio, #training {
    width:29%;
    float: left;
    margin: 0 2%;
}
#about {
    clear:left;
    }
  }

   /* Media Query for Large Desktop Viewport*/ 
   @media screen and (min-width: 1921px), print  {

    #container{
        width:1920px;
        margin: 0 auto;
    }
}


 /* Media Query for Print */
 @media print {
     body{
        background-color:#fff;
        color:#000;
    }

 }
 






    
