body, header, nav, main, footer, h1, div, img{ 
    margin: 0;
    padding: 0;
    border: 0;
}
body{
background-color:#f5f1e6;
}

img {
max-width: 100%
display: block;
}

header{
      position: -webkit-sticky;
      position:sticky
      top:0;
      background: color #000;
      height: 190px;
}

header img{
    margin:0 auto
}

nav{
        width:70%;
    float:right;
margin:5em 3em 0 0;
}

nav ul  {
    list-style-type: none;
margin: 0;
    text-align: right
    ;}

nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serifSS;}
nav li a{
    display: block;
    color:black;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}


main {
clear:left;
    background-color: #fff;
    padding:1%;
    font-size: :1.25%;
}

.action{
    font-size: 1.3em;
    color: #f5f1e6;
    font-weight: b
}

#eat, #play, #learn {
    width: 29%;
    float: left;
    margin: 0 %;
}
#about {
    clear:left;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1.5em;% 2%
}

#about dt{
    font: bold;
}

#about dd{
    padding: 1% 1% 2% 0;
}

#contact{
    text-align: center;
}

#contact a{
    color: #000;
    text-decoration: none;
}
footer p { 
    font-size: 1.00em;
    text-align: center;
    color: #fff
    padding 0 1em
}
.map{
    border: 8px solid #000;
}
footer p a{
    color:#000000;
    text text-decoration: none;
}